numpy
mlflow
scikit-learn
scikit-image
torch
torchvision
torchmetrics
lightning
einops
seaborn
streamlit
rich
click
gdown
omegaconf
python-dotenv
hydra-core
copernicusmarine
rasterio

pyproj
xarray
cartopy
netCDF4 
roaring-landmask
cmocean
geojson
coloredlogs
copernicusmarine
geopandas
nc-time-axis
pykdtree
utm
xhistogram
scipy
psutil

Cartopy==0.25.0
matplotlib==3.10.8
numpy==2.4.2
scipy==1.17.0
xarray==2026.1.0